@font-face {
    font-family:arrow;
    src: url(font/arrow/Arrows.ttf);
}
*{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: whitesmoke;
}

/* nav{
    display: flex;
    justify-content: center;
    gap:60px;
    margin: 2em 0;
}

nav a{
    display: inline;
    text-decoration: none;
    color:whitesmoke;
    font-size: 20px;
    transition-duration: .7s;
    padding:.3em .8em;
    border-radius: 100px;
}

nav a:hover{
    text-decoration: underline;
    background-color: gray;
    border-radius: 20px;

} */

#presentation{
    border: 1px solid beige;
    margin: 2vh auto 0 auto;
    width: 80%;
    font-size: 18px;
    padding: .3em;
}

#contactForm{
    position: absolute;
    display: none;
    top: 50vh;
    width: 30%;
    margin-left: 30%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(5px);
}

#contactForm form{
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    width: 100%;
    padding: 1%;
}

#contactForm #fermerFormBtn{
    margin: auto;
    padding: .7em .5em;
    border: 1px solid black;
    border-radius: 20px;
    width: max-content;
    color: black;
    background-color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bolder;
    cursor: pointer;
}

#contactForm form input,#contactForm form textarea{
    padding: .5em ;
    font-size: 1.1em;
    text-decoration: none;
    outline: none;
    font-size: 18px;
    background-color: rgba(200, 200,200, .9);
}

#contactForm form input:focus,#contactForm form textarea:focus{
    outline: 1.5px solid black;
}

#contactForm form input[type='submit']{
    width: 50%;
    margin: auto;
}

#informations{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 4em;
    width: 95%;
    height: 70vh;
    margin-top: 5vh;
}

#informations #image{
    border-right: 2px solid #111;
    width: 60%;
    background-color: aliceblue;
    background-image: url(images/imageDefaut.jpg);
    background-color: #333;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    background-size: cover;
    transition-duration: .7s;
}

#informations #prestations{
    /* background-color: #444; */
    /* border: 1px solid yellow; */
    width: 40%;
}

.cadrePresta{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition-duration: .7s;
}

.cadrePresta .prestationsBouton{
    display: block;
    padding:0 .7em;
    text-align: center;
    user-select: none;
}

.cadrePresta .prestationsBouton .menu{
    display: block;
    background-color: #555;
    border: 2px solid black;
    padding: .2em;
    width: 100%;
    cursor: pointer;
    transition-duration: .7s;
}

.cadrePresta .prestationsBouton .menu ~ .content{
    display: none;
}

.cadrePresta .prestationsBouton #menu1.active ~ .content,
.cadrePresta .prestationsBouton #menu2.active ~ .content,
.cadrePresta .prestationsBouton #menu3.active ~ .content{
    display: block;
    background-color: #222;
}

.cadrePresta .prestationsBouton .menu:hover{
    color: aquamarine;
}

.cadrePresta .prestationsBouton .fleche{
    display: inline-block;
    position: relative;
    font-family: arrow;
    font-size: 1.3em;
    top: .2em;
    font-weight: bold;
    margin-left:.1em;
    transition-duration: .4s;
}

.cadrePresta .prestationsBouton .menu.active{
color: aquamarine;
}

.cadrePresta .prestationsBouton .menu.active .fleche{
    transform: rotate(180deg);
}

.cadrePresta .prestationsBouton .content{
    display:flex;
    flex-direction: column;
    border: 1.5px solid #111;
    margin: .5em;
    padding: .5em;
    text-align: left;
}

.cadrePresta .prestationsBouton .content .prestaBas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 2px solid black;
}

.cadrePresta .prestationsBouton .content .prestaBas span{
    font-size: 18px;
}

.cadrePresta .prestationsBouton .content .prestaBas span:hover{
    cursor:pointer;
    text-decoration: none;
    font-size: 18px;
    animation: animate 2s infinite;
}

@keyframes animate {
    0%{
        color: aliceblue;
        transform: scale(1.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        color: whitesmoke;
        transform: scale(1.1);
    }
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 1.2em;    
    background-color: #222;
    width: 100%;
    min-height: 3.4em;
}

footer a{
    color:white;
}